name: Test

on:
  pull_request:
    branches:
      - master
  release:
    types: [released, prereleased]
  push:
    tags:
      - '*'
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - run: echo true

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - run: npm run tester

  notify:
    runs-on: ubuntu-latest
    needs: [test, lint]
    if: always()
    steps:
      - uses: actions/checkout@v2
      - name: Test Output
        uses: ./ # Uses an action in the root directory
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
